extends layouts/login-layout.pug

block content 
    .loginContainer 
        h1 Login 
        form(method="post") 
            input(type="text", name="logUserName", placeHolder = "Username or email", required = "")
            input(type="text", name="logPassword", placeHolder = "Password", required = "")
            input(type="submit", value="Login")
        a(href = "/register") Need an account? Register here.