body {
    background-color : #0099ff;
}

.wrapper {
    display: flex;
    justify-content :center;
    margin-top : 40px;

}

.loginContainer {
    padding : 25px;
    width : 80%;
    max-width : 500px;
    border : 1px solid #dedede;
    background-color : white;
    text-align: center;
    box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.5);

}

form {
    display: flex;
    flex-direction : column;

}

input[type="text"],
input[type="email"],
input[type="password"]{
    margin-bottom : 14px;
    padding: 10px 17px;
    border-radius: 4px;
    border: 1px solid #dedede;
    background-color: #f6f6f6;
    
}


input[type = "submit"]{
    padding: 7px;
    background-color: #0099ff;
    color: white;
    font-weight:bold;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;

}