:root{
    --twitterBlue: #1FA2F1;
    --buttonHoverBackground: #D4EDFF;
    --logoutReddishColor: #d84d4d;
    --lightGray: rgb(230, 236, 240);
    --lightGrayBorder: 2px solid var(--lightGray);
    --spacing: 15px;
    --postFormBoder : 7px solid var(--lightGray);
    --buttonDisabledColor: #9BD1F9;
}

* {
    outline: none !important;
}

a{
    color:inherit;
}

a:hover{
    color: var(--twitterBlue);
    text-decoration:none;
}

nav {
    margin-top: 70px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    height: 90%;
}


nav a{
    color: #7c848c;
    padding:10px;
    font-size:32px;
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content: center;
}

nav a.twitterBird{
    color: var(--twitterBlue)
}

nav a.logout{
    color:#d84d4d;
}

nav a.logout:hover{
    color: #d84d4d;
    background-color: #f5e0e0;
}

nav a:hover{
    background-color: var(--buttonHoverBackground);
    color: var(--twitterBlue);
    border-radius: 50%;
}

.mainSectionContainer {
    background-color: white;
    padding: 0;
    border-left: var(--lightGrayBorder);
    border-right: var(--lightGrayBorder);
    display: flex;
    flex-direction: column;

}

.titleContainer{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: var(--lightGrayBorder);
    flex-shrink: 0;

}

.titleContainer h1{
    flex: 1;
}

h1{
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}

.postFormContainer{
    display: flex;
    padding: var(--spacing);
    border-bottom: var(--postFormBoder);
    flex-shrink: 0;
}

.userImageContainer {
    width: 56px;
    height: 56px;
}

.userImageContainer img {
    width: 100%;
    border-radius: 50%;
    background-color: 
}

.textareaContainer{
    flex: 1;
    padding: 0px var(--spacing);
}

.textareaContainer textarea{
    width: 100%;
    border: none;
    resize: none;
    font-size: 20px;
    font-family: "Helvetica";
}

#tweetButton{
    background-color: var(--twitterBlue);
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 40px;
    padding: 7px 15px;
}

#tweetButton:disabled {
    background-color: var(--buttonDisabledColor);
}

.post {
    display:flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: var(--lightGrayBorder);
    flex-shrink: 0;
}

.mainContentContainer {
    flex: 1;
    display:flex;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}