:root{
    --twitterBlue: #1FA2F1;
    --buttonHoverBackground: #D4EDFF;
    --logoutReddishColor: #d84d4d;

}

a{
    color:inherit;
}

a:hover{
    color: var(--twitterBlue);
    text-decoration:none;
}

nav {
    margin-top: 70px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    height: 90%;
}


nav a{
    color: #7c848c;
    padding:10px;
    font-size:29px;
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content: center;
}

nav a.twitterBird{
    color: var(--twitterBlue)
}

nav a.logout{
    color:#d84d4d;
}

nav a.logout:hover{
    color: #d84d4d;
    background-color: #f5e0e0;
}

nav a:hover{
    background-color: var(--buttonHoverBackground);
    color: var(--twitterBlue);
    border-radius: 50%;
}

.mainSectionContainer {
    background-color: white;
}