mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src = userLoggedIn.profilePicture , alt = "User's profile picture")
        .textAreaContainer 
            textarea#tweetTextarea(placeholder = "What's happening?")
            .buttonsContainer 
                button#tweetButton(disabled = "") Post