mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src = userLoggedIn.profilePicture , alt = "User's profile picture")
        .textareaContainer 
            textarea#tweetTextarea(placeholder = "What's happening?", spellcheck = "false")
            .buttonsContainer 
                button#tweetButton(disabled = "") Tweet